.search-form {
    position: relative;
}

.search-results {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 2;
    width: 100%;
    padding-top: 10px;
}

.search-results-ul {
    background-color: #f7f7f7;
    box-shadow: -5px 5px 10px 0 #d6d6d6;
    border-radius: 9px;
    list-style: none;
    padding: 20px;
    max-height: 50vh;
    overflow: auto;
}

.search-link {
    display: flex;
    flex-wrap: wrap;
    text-decoration: dotted;
    color: #000000;
    padding: 9px;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.search-link:hover {
    color: #ffffff;
    background-color: #6c757d;
}

.search-result-couplet {
    width: 100%;
    font-size: 12px;
    word-break: break-word;
    margin-bottom: 0;
}

.outline {
    outline: #3dff00 auto 10px;
}

.toast-level {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #3b82f6;
    margin-right: 10px;
}

.level-warning {
    background-color: #ffca2c;
}

.level-error {
    background-color: #dc3545;
}

.level-success {
    background-color: #20c997;
}

/* start of scrollbar */
.new-scrollbar::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

.new-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 9px 9px 9px 9px;
}

.new-scrollbar::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 9px;
    border: 1px solid rgba(129, 130, 131, 0.8);
}
/* end of scrollbar */

.animation-appear {
    animation: appear 0.6s;
}

.animation-disappear {
    animation: disappear 1s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}