{% extends 'base.html.twig' %}

{% block body %}
    {% include "components/header.html.twig" %}

    <h1 class="my-5 display-5 text-center">
        Песнь возрождения
    </h1>

    <div class="container">
        <div id="hymns"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        window.addEventListener('load', async function () {
            let hymnsDiv = document.getElementById('hymns');
            let hymns;
            let hymnsCacheKey = 'hymns';

            if (! Storage.exists(hymnsCacheKey)) {
                hymns = await Server.getData('/api/hymns');
                Storage.set(hymnsCacheKey, hymns, (new DateTime()).addMinutes(4).getTimestamp());
            } else {
                hymns = Storage.get(hymnsCacheKey);
            }

            console.log(hymns);

            function getHymnHtmlCacheKey(hymnId) {
                return 'hymn_' + hymnId;
            }

            for (let hymn of hymns) {
                console.log(hymn);

                let hymnHtmlCacheKey = getHymnHtmlCacheKey(hymn['hymnId']);

                let hymnHtml = `
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h3 class="text-start mb-0">
                            №${ hymn['hymnId'] } <span class="ms-3">${ hymn['title'] }</span>
                        </h3>
                        <span class="d-none d-lg-flex">
                            ${ hymn['category'] }
                        </span>
                    </div>
                `;

                Storage.set(hymnHtmlCacheKey, hymnHtml);

                hymnsDiv.innerHTML += `
                    <div
                        id="${ hymn['hymnId'] }"
                        class="open-hymn card mb-4"
                        data-id="${ hymn['hymnId'] }"
                        data-title="${ hymn['title'] }"
                        data-category="${ hymn['category'] }"
                        role="button"
                    >
                        ${ hymnHtml }
                    </div>
                `;
            }

            document.querySelectorAll('.open-hymn').forEach(function (element) {
                element.addEventListener('click', async function () {
                    let hymnId = this.dataset.id;
                    let title = this.dataset.title;
                    let category = this.dataset.category;

                    if (! this.classList.contains('opened-hymn')) {
                        this.classList.add('opened-hymn');

                        let couplets;

                        let coupletsCacheKey = hymnId + '_couplets';

                        if (! Storage.exists(coupletsCacheKey)) {
                            couplets = await Server.getData('/api/couplets/' + hymnId);

                            Storage.set(coupletsCacheKey, couplets, (new DateTime()).addMinutes(4).getTimestamp());
                        } else {
                            couplets = Storage.get(coupletsCacheKey);
                        }

                        console.log(hymnId, couplets);

                        let coupletsHtml = '';

                        for (let couplet of couplets) {
                            if (couplet['isChorus'] === true) {
                                coupletsHtml += `
                                    <p class="text-black fs-5 fw-bold mb-1">
                                        Припев:
                                    </p>
                                `;
                            } else {
                                coupletsHtml += `
                                    <p class="text-black fs-5 fw-bold mb-1">
                                        Куплет ${ couplet['position'] }:
                                    </p>
                                `;
                            }

                            coupletsHtml += `
                                <p class="text-black fs-5">
                                    ${ couplet['couplet'] }
                                </p>
                            `;
                        }

                        this.innerHTML = `
                            <div class="card-header">
                                <h3>
                                    №${ hymnId } <span class="ms-3">${ title }</span>
                                </h3>
                            </div>
                            <div class="card-body">
                                ${ coupletsHtml }
                            </div>
                            <div class="card-footer fs-6">
                                Категория: ${ category }
                            </div>
                        `;
                    } else {
                        this.classList.remove('opened-hymn');

                        this.innerHTML = Storage.get(getHymnHtmlCacheKey(hymnId));
                    }
                })
            })
        });
    </script>
{#    ✅ Elasticsearch security features have been automatically configured!#}
{#    ✅ Authentication is enabled and cluster connections are encrypted.#}

{#    ℹ️  Password for the elastic user (reset with `bin/elasticsearch-reset-password -u elastic`):#}
{#    WkE+kaaYgepwHtr1ofAh#}

{#    ℹ️  HTTP CA certificate SHA-256 fingerprint:#}
{#    a94a74ea47823ec284bc3cc7254bb0aad6ec9c7e845b07b1d9bdbf479b12b562#}

{#    ℹ️  Configure Kibana to use this cluster:#}
{#    • Run Kibana and click the configuration link in the terminal when Kibana starts.#}
{#    • Copy the following enrollment token and paste it into Kibana in your browser (valid for the next 30 minutes):#}
{#    eyJ2ZXIiOiI4LjYuMiIsImFkciI6WyIxNzIuMjEuMC4yOjkyMDAiXSwiZmdyIjoiYTk0YTc0ZWE0NzgyM2VjMjg0YmMzY2M3MjU0YmIwYWFkNmVjOWM3ZTg0NWIwN2IxZDliZGJmNDc5YjEyYjU2MiIsImtleSI6IkhhckFmb1lCcy1NeDVYMUxYQnBpOk5zVFoyZVRKUWthQnczdFNLTmVtNncifQ==#}

{#    ℹ️ Configure other nodes to join this cluster:#}
{#    • Copy the following enrollment token and start new Elasticsearch nodes with `bin/elasticsearch --enrollment-token <token>` (valid for the next 30 minutes):#}
{#    eyJ2ZXIiOiI4LjYuMiIsImFkciI6WyIxNzIuMjEuMC4yOjkyMDAiXSwiZmdyIjoiYTk0YTc0ZWE0NzgyM2VjMjg0YmMzY2M3MjU0YmIwYWFkNmVjOWM3ZTg0NWIwN2IxZDliZGJmNDc5YjEyYjU2MiIsImtleSI6IkhxckFmb1lCcy1NeDVYMUxYQnBpOl9pM003T2FFUkotNmtzNHQ2MmptWkEifQ==#}

{#    If you're running in Docker, copy the enrollment token and run:#}
{#    `docker run -e "ENROLLMENT_TOKEN=<token>" docker.elastic.co/elasticsearch/elasticsearch:8.6.2`#}

{% endblock %}