{% extends 'base.html.twig' %}

{% block body %}
    {% include "components/header.html.twig" %}

    <h1 class="my-5 display-5 text-center">
        Песнь возрождения
    </h1>

    <div class="container">
        <div id="hymns"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        window.addEventListener('load', async function () {
            let hymnsDiv = document.getElementById('hymns');

            let hymns = await fetch(window.location.origin + '/api/hymns');
            let hymnsJson = await hymns.json();

            for (let hymn of hymnsJson['data']) {
                console.log(hymn);

                hymnsDiv.innerHTML += `
                    <div class="card">
                        <div class="card-header">
                            <h3>
                                №${ hymn['hymnId'] } <span class="ms-3">${ hymn['title'] }</span>
                            </h3>
                        </div>
                        <div class="card-body">

                            <p class="text-muted fs-5">
                                Припев: ${ hymn['chorus'] }
                            </p>
                            <p class="text-black fs-5">
                                Куплеты: ${ hymn['couplets'] }
                            </p>
                        </div>
                        <div class="card-footer fs-6">
                            Категория: ${ hymn['category_title'] }
                        </div>
                    </div>
                `;
            }
        });
    </script>
{% endblock %}