<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('homepage') }}">Сборник</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('homepage') }}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('vue') }}">Vue</a>
                </li>
            </ul>
            <form id="search-form" class="d-flex search-form" role="search">
                <input
                        id="search-input"
                        class="form-control me-2"
                        type="search"
                        placeholder="Введите для поиска"
                        aria-label="Search"
                        minlength="4"
                        maxlength="250"
                        required
                >
                <button class="btn btn-outline-success" type="submit">Поиск</button>
                <div id="search-results" class="search-results">
                    <ul id="search-results-ul" class="search-results-ul new-scrollbar"></ul>
                </div>
            </form>
        </div>
    </div>
</nav>